PORT=3000
NODE_ENV=production

# From Kick Developer > your app.
KICK_CLIENT_ID=5f3680245eb0b2599e06eedf868464e3f4a7e96f2c519f632b10926bd3a4c40f
KICK_CLIENT_SECRET=01M0F1N4KTG098AZ8GZDXVS227

# Must exactly match the Redirect URL configured in Kick Developer.
# Example for local testing:
KICK_REDIRECT_URI=http://localhost:3000/auth/kick/callback

# Use a long random value in production.
SESSION_SECRET=PUT_A_LONG_RANDOM_SECRET_HERE
